@import "tailwindcss";
@import "./styles.css" layer(base);
@plugin "flowbite/plugin";
@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4";
@source "../views/**/*.blade.php";
@source "../../public/js/*.js";
@source "../../node_modules/flowbite/dist/flowbite.js";

[class*="brands-swiper-"][class*="-pagination"] .swiper-pagination-bullet,
.carousel-home-banners .swiper-pagination-bullet,
.carousel-section-banners .swiper-pagination-bullet {
    background: var(--color-complementary-light);
    opacity: 1;
}
[class*="brands-swiper-"][class*="-pagination"] .swiper-pagination-bullet-active,
.carousel-home-banners .swiper-pagination-bullet-active,
.carousel-section-banners .swiper-pagination-bullet-active {
    background: var(--color-secondary);
}

@theme {
    --font-sans: 'Arial', ui-sans-serif, system-ui, sans-serif;
    --color-primary: #feffff;
    --color-secondary: #01665e;
    --color-dark: #101820;
    --color-light: #FFFFFF;
    --color-complementary-primary: #631316;
    --color-complementary-secondary: #1d70b7;
    --color-complementary-dark: #63666A;
    --color-complementary-light: #D9D9D6;
}
